#container{
    border:1px solid #333;
    border-radius :20px;
    width:400px;
    margin:150px auto;
    padding:20px;
    text-align:center;
    background : #333;
  }
  
  #timer{ 
    color:#f00; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:50px; 
    margin:10px auto;
    border : 5px solid rgb(180, 180, 180);
    border-radius:70%;
    width:200px;
    height:200px;
    overflow:hidden;
    position:relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
  }
  
  #time{
    margin-top:70px;
    z-index : 1;
    position:relative;
  }
  
  #filler{
    background : #ddffcc;
    height: 0px;
    width: 200px;
    position:absolute;
    bottom:0;
  }
  
  #buttons button { 
    background:#4da6ff; 
    border:none; 
    color:#fff; 
    cursor:pointer; 
    padding:5px; 
    width:90px; 
    margin:10px auto;
    font-size:14px;
    height : 50px;
    border-radius : 50px;
  }
  
  #buttons button#stop{
    background : #f00;
  }
  
  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  