*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans';
    --blue: #016BFF;
}

.main{
    display: flex;
}

.one{
    width: 20vw;
    height: 100vh;
    overflow-y: auto;
    background-color: #FFFFFF;
    z-index: 10;
    box-shadow: 0px 2px 18px rgba(209, 209, 209, 0.337);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one .logo img{
    padding: 20px 30px;
    height: 45px;
}

.navigation{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 0px;
}

.navigation a{
    color: #A5A8AD;
    text-decoration: none;
    font-size: 18px;
    font-weight: 450;
    padding: 5px 40px;
    border: 2px solid #016bff00;
    border-radius: 5px;
    
}

#dashboard{
    color: #ffffff;
    background-color: #016BFF;
    border: 2px solid #016BFF;
}
.navigation a:hover{
    color: #016BFF;
    background-color: #016bff00;
    border: 2px solid #016BFF;
    border-radius: 5px;
    padding: 5px 40px;
}

.ad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(asset/gradient.jpeg);
    background-size: cover;
    margin: 35px;
    border-radius: 28px;
    height: 180px;
    width: calc(100%-1);
    color: rgb(255, 255, 255);
}

.ad h1{
    font-size: 30px;
    color: white;
}

.ad p{
    font-size: 16px;
    padding: 0px 23px;
    text-align: left;
    line-height: 1;
}

.ad a{
    text-align: center;
    text-decoration: none;
    padding: 8px 15px;
    margin-top: 20px;
    position: relative;
    width: 75%;
    color: black;
    background-color: #fff;
    border-radius:8px;
}

.two{
    width: 60vw;
    background-color: #fefefe;
    overflow-y: auto;
}

.two .stories{
    display: flex;
    margin: 25px 50px;
    gap: 20px;
}

.stories .people{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add a{
    color: var(--blue);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 3px dashed var(--blue);
    border-radius: 100%;

}

#active img{
    border: 3px solid var(--blue);
}

.stories .people img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    padding: 2px;
}

.stories .people p{
    margin: 5px;
    font-size: 16px;
}


.playlist{
    margin: 25px 50px;
    display: flex;
    flex-direction: column;
}

.playlist .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
}

.playlist .title h2{
    font-size: 23px;
    font-weight: 650;
}

.playlist .title a{
    color: var(--blue);
    text-decoration: none;
}

.playlist .title a:hover{
    color: black;
}

.playlist .content-area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 8px;

}

.playlist .card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    height: 220px;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #A5A8AD;
}

.card .image{
    height: 100%;
    width: 100%;
    
    margin: 1px;
    border-radius: 8px;
}

.card p{
    font-size: 15px;
    margin: 5px 0px;
    font-weight: 400;
}

.card a{
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    padding: 8px;
    width: 90%;
    text-align: center;
    border:2px solid #A5A8AD;
    border-radius: 8px;
    color: black;
}

.card a:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
}


.three{
    width: 20vw;
    background-color: #FEFEFE;
}
